/*
Hey Look!
This is the stylesheet for bulletin.html

There are some hints for styling in the .html file.

This is meant to be divided up into sections for different devices.
For now, this will probably only be geared towards mobile devices, instead of desktops.
*/

/*
main styles
*/
h1,h2,h3,h4,h5,h6, p, ul, li {
  text-align:center;
}

.title {
  color:green;
}
/*
tablets, iPads, and iPad-minis
*/

/*
Phones : iPhones and Android smartphones
*/